.narvbar-lateral{
    width: 240px;
    background-color: green;
    position: absolute;
    height: 88vh;
    padding: 0 30px;
    transition: all 1s;
    right: 0;
}

ul{
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul li .ruta{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
}

ul li .ruta:hover,
ul li .ruta.active{
    background: rgb(128, 73, 0);
}